<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>TFT ROULETTE</title>
</head>
<body>
    <div class="buttonDisplayFlex">

        <h1>Get champion list</h1>
    
        <input type="button" class="btn btn-requestByCost" name="cost1" id="cost1" value="Cost 1 champions" >
        <input type="button" class="btn btn-requestByCost" name="cost2" id="cost2" value="Cost 2 champions" >
        <input type="button" class="btn btn-requestByCost" name="cost3" id="cost3" value="Cost 3 champions" >
        <input type="button" class="btn btn-requestByCost" name="cost4" id="cost4" value="Cost 4 champions" >
        <input type="button" class="btn btn-requestByCost" name="cost5" id="cost5" value="Cost 5 champions" >
        
        <input type="button" class="btn btn-requestByPlayerLevel" name="level1" id="level1" value="Roulette Level 1 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level2" id="level2" value="Roulette Level 2 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level3" id="level3" value="Roulette Level 3 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level4" id="level4" value="Roulette Level 4 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level5" id="level5" value="Roulette Level 5 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level6" id="level6" value="Roulette Level 6 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level7" id="level7" value="Roulette Level 7 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level8" id="level8" value="Roulette Level 8 champions" >
        <input type="button" class="btn btn-requestByPlayerLevel" name="level9" id="level9" value="Roulette Level 9 champions" >
    </div>
    

    <div class="championListFlex">
    
    </div>

    <script src="RouletteController.js"></script>
    <script src="main.js"></script>
</body>
</html>