.body{
    display: flex;
    flex-flow: column;

      
}

.buttonDisplayFlex
{
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
}

.buttonDisplayFlex input{
    margin: 4px;
}

.championListFlex{
    display: flex;
    width: 100%;
    height: 80%;
    flex-flow: row wrap;
}



.championListFlex >  * :hover{
    cursor: pointer;
}


.altChampionBox{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 140px;
    border: 2px solid black;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 1px 4px 2px 2px;
    margin: 10px;
    color: white;    
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 4px black;
}

.altChampionPhoto{
    
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}
.altChampionPhoto label{
    
    margin: 0;
    
}

.altChampionPhoto img{
    
    width: 100%;
    position: static;
 
}



.altChampionText{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-content: center;
    padding: 0 0 0 2px;
}

.altChampionText *{
    margin: 4px 2px 0 2px;
    width: 50%;
    height: 100%;
}

.TextoUm{
    display: flex;
    position: absolute;
    left: 0%;
    top: 60%;
    
}

.TextoUm img{
    
   height: 20px;
}


.TextoDois{
    position: absolute;
    display: flex;
    left: 0%;
    top: 80%;
}

.TextoDois img{
    
    height: 20px;
 }
 

.cost1{
    background-image: linear-gradient(135deg, #142431, #252F38); 
}
.cost2{
    background-image: linear-gradient(135deg, #14352C, #0F562A); 
}

.cost3{
    background-image: linear-gradient(135deg, #1C1F48, #1C537C); 
    
}

.cost4{
    
    background-image: linear-gradient(135deg, #490D49, #AE047C);
}

.cost5{
    background-image: linear-gradient(135deg, #512B04, #9E6B10);
}

